
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>荔香大朗微信矩阵</title>
<link type="text/css" rel="stylesheet" href="/static/wxjz/css/style.css" />
<script type="text/javascript" src="/static/wxjz/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.menu li').click(function(){
			var index = $(this).index();
			$('.con').eq(index).show().siblings('.con').hide();
			$(this).addClass('curr').siblings().removeClass('curr');
		});
                $(function(){
                    var $divWidth = $('.logo img').width();
                    $('.logo img').css({'height':$divWidth});
                })
			
	});
</script>
<style>
.clearf{
	clear:left;
}
</style>
</head>

<body>


<div class="container">
	<div class="menu">
		<ul>
			<li class="curr bl" style="border: 1px solid #ff7e00;">社区村</li>
			<li>部门机构</li>
			<li class="br">其他</li>
		</ul>
	</div>
	<div class="con" style="display: block">
		<ul class="logo">
        			<li class="clearf"><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MjM5MDMwNTQ4NQ==&scene=124#wechat_redirect" title="大朗镇长富社区"><img src="/static/wxjz/img/cf.jpg"></a><p>大朗镇长富社区</p></li>
         			<li><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI3NTU3MTgyNQ==&scene=123#wechat_redirect" title="幸福求富路"><img src="/static/wxjz/img/qfl.jpg"></a><p>幸福求富路</p></li>
         			<li><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI3OTAxODAyMQ==&scene=123#wechat_redirect" title="幸福佛子凹"><img src="/static/wxjz/img/fza.jpg"></a><p>幸福佛子凹</p></li>
         			<li><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA4ODIwMDI0NA==&scene=123#wechat_redirect" title="幸福巷头"><img src="/static/wxjz/img/xt.jpg"></a><p>幸福巷头</p></li>
         			<li><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI1NjA1NzE1OQ==&scene=123#wechat_redirect" title="大朗镇巷尾社区"><img src="/static/wxjz/img/xw.jpg"></a><p>大朗镇巷尾社区</p></li>
         			<li><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI4MzM5MjQzNA==&scene=123#wechat_redirect" title="宜居竹山"><img src="/static/wxjz/img/zs.jpg"></a><p>宜居竹山</p></li>
         			<li><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI5MzY4Mjc4OQ==&scene=123#wechat_redirect" title="活力高英"><img src="/static/wxjz/img/gy.jpg"></a><p>活力高英</p></li>
         			<li><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzIzMDE1MjU5Ng==&scene=123#wechat_redirect" title="和谐大井头"><img src="/static/wxjz/img/djt.jpg"></a><p>和谐大井头</p></li>
         			<li><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI1OTA5OTMyOQ==&scene=123#wechat_redirect" title="圣堂社区"><img src="/static/wxjz/img/st.jpg"></a><p>圣堂社区</p></li>
         			<li><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzIxNDM1NDcyNQ==&scene=123#wechat_redirect" title="和谐水口"><img src="/static/wxjz/img/sk.jpg"></a><p>和谐水口</p></li>
         			<li><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzAwNjM0NDEyMg==&scene=123#wechat_redirect" title="大朗社区"><img src="/static/wxjz/img/dalang.jpg"></a><p>大朗社区</p></li>
         			<li><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzIzMDA1NTgyMA==&scene=123#wechat_redirect" title="大朗犀牛陂"><img src="/static/wxjz/img/snb.jpg"></a><p>大朗犀牛陂</p></li>
                                <li><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzIxNzgyNzY3NQ==&scene=124#wechat_redirect " title="宝陂村"><img src="/static/wxjz/img/bp.jpg"></a><p>宝陂村</p></li>
            
		</ul>
	</div>
	<div class="con">
		<ul class="logo">
         			

         			<li class="clearf"><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI5ODIyMjUwNg==&scene=123#wechat_redirect" title="大朗组工"><img src="/static/wxjz/img/zg.jpg"></a><p>大朗组工</p></li>

					<li><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzUzODQ2MzQ4NQ==&scene=124#wechat_redirect" title="智网大朗"><img src="/static/wxjz/img/zw.png"></a><p>智网大朗</p></li>
            
					<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA3NDE0NTkyNA==&scene=123#wechat_redirect" title="大朗普法"><img src="/static/wxjz/img/pf.jpg"></a><p>大朗普法</p></li>
            
					<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI5NjY3NDk1Ng==&scene=123#wechat_redirect" title="大朗人大"><img src="/static/wxjz/img/rd.jpg"></a><p>大朗人大</p></li>
            
					<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA3NTU1OTczMg==&scene=123#wechat_redirect" title="东莞大朗共青团"><img src="/static/wxjz/img/tw.jpg"></a><p>东莞大朗共青团</p></li>
            
					<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA3MDM4OTE2NA==&scene=123#wechat_redirect" title="织城巾帼"><img src="/static/wxjz/img/jg.jpg"></a><p>织城巾帼</p></li>
            
					<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI5MzYzNDAzNQ==&scene=123#wechat_redirect" title="大朗图书馆"><img src="/static/wxjz/img/tsg.jpg"></a><p>大朗图书馆</p></li>
            
					<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA4NjM2NDExOA==&scene=123#wechat_redirect" title="大朗阳光雨党员服务中心"><img src="/static/wxjz/img/ygy.jpg"></a><p>阳光雨服务中心</p></li>
            
					<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzAwNDExNTQyOA==&scene=123#wechat_redirect" title="东莞大朗医院"><img src="/static/wxjz/img/yy.jpg"></a><p>东莞大朗医院</p></li>
            
					<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzIyMTI3ODUwMA==&scene=123#wechat_redirect" title="平安大朗"><img src="/static/wxjz/img/pa.jpg"></a><p>平安大朗</p></li>
            <li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA4ODIxMzcyNw==&scene=123#wechat_redirect" title="大朗档案馆"><img src="/static/wxjz/img/dag.jpg"></a><p>大朗档案馆</p></li>
		   	<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzAxMjcyMDIyMw==&scene=123#wechat_redirect" title="大朗安监"><img src="/static/wxjz/img/aj.jpg"></a><p>大朗安监</p></li>
            <li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzIwMjgzNjc2Nw==&scene=123#wechat_redirect" title="大朗交通运输"><img src="/static/wxjz/img/jt.jpg"></a><p>大朗交通运输</p></li>
             <li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA3NTQ2NDMzMA==&scene=123#wechat_redirect" title="大朗毛织"><img src="/static/wxjz/img/dlmz.jpg"></a><p>大朗毛织</p></li>
             <li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA3ODQ3MzcwNA==&scene=123#wechat_redirect" title="社区卫生服务中心"><img src="/static/wxjz/img/sqfw.jpg"></a><p>社区卫生服务中心</p></li>
		</ul>				
	</div>
	<div class="con">
    		<h2> </h2>
		<ul class="logo pd">
        <li class="clearf"><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MjM5MzU4NjIzNg==&scene=123#wechat_redirect" title="志愿大朗"><img src="/static/wxjz/img/sg.jpg"></a><p>志愿大朗</p></li>
		 			<li><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA5MDQxNjY5OQ==&scene=123#wechat_redirect" title="大朗汽车客运总站"><img src="/static/wxjz/img/kyz.jpg"></a><p>大朗汽车客运总站</p></li>
                    <li><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI4MDQ5NzU4MQ==&scene=123#wechat_redirect" title="大朗商会"><img src="/static/wxjz/img/sh.jpg"></a><p>大朗商会</p></li>
		 			
		 		</ul>	
   		<h2>学校</h2>
		<ul class="logo pd">
       <li class="clearf"><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzIyNTIwMjU2Nw==&scene=123#wechat_redirect" title="东莞市大朗中学"><img src="/static/wxjz/img/dlzx.jpg"></a><p>大朗中学</p></li>
		 			<li><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI3NTM3MTQwMQ==&scene=123#wechat_redirect" title="大朗一中"><img src="/static/wxjz/img/xyxx.jpg"></a><p>大朗一中</p></li>
        			<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzIyOTIxNTcwNw==&scene=123#wechat_redirect" title="东莞市大朗镇中心小学"><img src="/static/wxjz/img/zxxx.jpg"></a><p>大朗镇中心小学</p></li>
		 			<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MjM5NDcyODk5OA==&scene=123#wechat_redirect" title="大朗实验小学"><img src="/static/wxjz/img/xyxx.jpg"></a><p>大朗实验小学</p></li>
                   <li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA5NjMwODI1Nw==&scene=123#wechat_redirect" title="巷头小学"><img src="/static/wxjz/img/xtxx.jpg"></a><p>巷头小学</p></li>
		 			<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA5MDE0NTY2OA==&scene=123#wechat_redirect" title="大朗镇崇文小学"><img src="/static/wxjz/img/swxx.jpg"></a><p>大朗镇崇文小学</p></li>
                    <li><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI4MjMzNTU5Mw==&scene=123#wechat_redirect" title="大朗镇新民小学"><img src="/static/wxjz/img/xmxx.jpg"></a><p>大朗镇新民小学</p></li>
		 			<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI4OTE2OTgxNQ==&scene=123#wechat_redirect" title="大朗镇鸣凤小学"><img src="/static/wxjz/img/mfxx.jpg"></a><p>大朗镇鸣凤小学</p></li>
                   <li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI5NzIwMDM1OA==&scene=123#wechat_redirect" title="大朗镇中心幼儿园"><img src="/static/wxjz/img/zxyry.jpg"></a><p>大朗镇中心幼儿园</p></li>
		 			<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzAwNjAzMDA0Nw==&scene=123#wechat_redirect" title="大朗镇成校"><img src="/static/wxjz/img/dlcx.jpg"></a><p>大朗镇成校</p></li>
		 		</ul>	
   		<h2>生活服务</h2>
		<ul class="logo pd">
        			<li class="clearf"><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA3NTQ5MTgxNQ==&scene=123#wechat_redirect" title="大朗邮政"><img src="/static/wxjz/img/dlrz.jpg"></a><p>大朗邮政</p></li>
		 			<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA3ODg2MDUzNQ==&scene=124#wechat_redirect" title="东莞广电网络"><img src="http://form.sun0769.com/upload/201705/5b5142eb74.jpg"></a><p>东莞广电网络</p></li>
		 			<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI2MDU3ODY5NA==&scene=124#wechat_redirect" title="东莞供电"><img src="http://form.sun0769.com/upload/201705/9f7671ad4d.jpg"></a><p>东莞供电</p></li>
		 			<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI4NjExMjc1NQ==&scene=124#wechat_redirect" title="东莞火车站"><img src="http://form.sun0769.com/upload/201705/6e8eb040f1.jpg"></a><p>东莞火车站</p></li>
		 			<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI5MDU2MTU1OQ==&scene=124#wechat_redirect" title="东莞汽车客运总站"><img src="http://form.sun0769.com/upload/201705/766f2bece3.jpg"></a><p>东莞汽车客运总站</p></li>
		 		</ul>	
   		<h2>文化</h2>
		<ul class="logo pd">
        
        			<li class="clearf"><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzIyOTc4MTc3Nw==&scene=123#wechat_redirect" title="东莞大朗作协"><img src="/static/wxjz/img/zx.jpg"></a><p>东莞大朗作协</p></li>
		 			<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA3NzM3NTIxOA==&scene=124#wechat_redirect" title="东莞图书馆"><img src="http://form.sun0769.com/upload/201705/538bfb050e.jpg"></a><p>东莞图书馆</p></li>
		 			<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MjM5OTM3Mjg0Mg==&scene=124#wechat_redirect" title="东莞展览馆"><img src="http://form.sun0769.com/upload/201705/796d97baf7.jpg"></a><p>东莞展览馆</p></li>
		 			<li class="clearf"><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA4NjIwMzUzNg==&scene=124#wechat_redirect" title="东莞市博物馆"><img src="http://form.sun0769.com/upload/201705/c85c63a497.jpg"></a><p>东莞市博物馆</p></li>
		 			<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzAwNDAyMTEyOA==&scene=124#wechat_redirect" title="东莞玉兰大剧院"><img src="http://form.sun0769.com/upload/201705/5add8ac2c6.jpg"></a><p>东莞玉兰大剧院</p></li>
		 			<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA4Mzg2ODYxNw==&scene=124#wechat_redirect" title="文化周末"><img src="http://form.sun0769.com/upload/201705/79c5b05ace.jpg"></a><p>文化周末</p></li>
		 			<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MjM5MjEwMTY0Nw==&scene=124#wechat_redirect" title="东莞科学馆"><img src="http://form.sun0769.com/upload/201705/f2abc3c932.jpg"></a><p>东莞科学馆</p></li>
		 			<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MjM5NTA4NDQxMg==&scene=124#wechat_redirect" title="东莞科技馆"><img src="http://form.sun0769.com/upload/201705/6f8aadb4b2.jpg"></a><p>东莞科技馆</p></li>
		 		</ul>	
   		<h2>媒体</h2>
		<ul class="logo pd">
        			<li class="clearf"><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA3MDU4MTgzMQ==&scene=124#wechat_redirect" title="东莞日报"><img src="http://form.sun0769.com/upload/201705/912ce7110b.jpg"></a><p>东莞日报</p></li>
		 			<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MjM5NTI4NjIzMg==&scene=124#wechat_redirect" title="东莞时报"><img src="http://form.sun0769.com/upload/201705/e798444cc2.jpg"></a><p>东莞时报</p></li>
		 			<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MjM5MDA5MjA0MA==&scene=124#wechat_redirect" title="东莞时间网"><img src="http://form.sun0769.com/upload/201705/4996af62b9.jpg"></a><p>东莞时间网</p></li>
		 			<li class="clearf"><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MjM5NjMzMTY2MA==&scene=124#wechat_redirect" title="东莞阳光网"><img src="http://form.sun0769.com/upload/201705/c05ed12f7c.jpg"></a><p>东莞阳光网</p></li>
		 			<li ><a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA3NzA1MjU2MA==&scene=124#wechat_redirect" title="东莞广播电视台"><img src="http://form.sun0769.com/upload/201705/1272033685.jpg"></a><p>东莞广播电视台</p></li>
		 		</ul>	
        
			
	</div>
	<div class="foot"></div>
</div>



</body>
</html>
