BODY {
	FONT-SIZE: 12px; MARGIN: 0px; COLOR: #575757; LINE-HEIGHT: 160%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
td{FONT-SIZE: 12px;}
INPUT {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
A {
	COLOR: #575757
}
A:link {
	font-size: 12px; color: #000000; text-decoration: none
}
A:visited {
	font-size: 12px; color: #000000; text-decoration: none
}
A:hover {
	font-size: 12px; color: #ff0000; text-decoration: underline
}
.bb {
	FONT-WEIGHT: bold
}
.lista TD {
	BACKGROUND: url(index_110.gif) repeat-x 50% bottom
}
.notice {
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}
.copyright {  font-size: 12px; color: #FFFFFF; text-decoration: none}
.newbig {  font-size: 22px; color: #003366; text-decoration: none; font-weight: bold}
.email {  border: 1px #CCCCCC solid}
.cba {  font-size: 11px; color: #000000; font-weight: bold}
.ge {  font-size: 8.7px}
newstitle1 {  font-size: 12px; color: #333333; text-decoration: none}
.news1 {  font-size: 12px; color: #333333; text-decoration: none; font-weight: normal}
.newstitle {  font-size: 12px; color: #000000; text-decoration: none}
.tblStyle { border-right:#C4E186 4px solid; background-color:#FFFFFF; }

