<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>大朗治水</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>

<body>
<div class="all" >
	<div class="header" style="margin:0;padding:0;">
    </div>
	
    <div class="contain" style="padding-top:37%;position:relative;">
        <div class="event" style="float:left;">
            {% for new in newList %}
			<div style="margin-left:10px;float:left;border-bottom:1px solid #dddddd;width:95%;">
                <a href="/detial/?newid={{ new.NewsId }}">
				<div style="float:left; text-align:left;word-wrap:break-word;font-size:16px;width:99%;color: #669;">
				{{ new.Title}}
				</div>
				</a>
				<div style="float:left; text-align:right;break-word;font-size:14px;width:99%;color: #669;padding-top:auto;">
				{{ new.AddTime|date:'Y-m-d'}}
				</div>
            </div>
			{% endfor %}
		<div style="float:left;padding-top:20px;padding-bottom:30%;padding-left:20px;padding-right:20px;text-align:center;word-wrap:break-word;font-size:15px;width:85%;color: #666;">
			
		</div>
        </div>
    </div>

	    <div class="footer" >
			
		</div>
</div>
</body>
</html>