<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>大朗治水</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>

<body>
<div class="all" >
	<div class="header" style="">
	</div>
	
    <div class="contain" style="text-align:left;padding-top:38%;margin:0;">
        <div style="text-align:left; margin-top: 0%;">
		    <div style="margin-left:15px;margin-right:15px;font-size: 22px;color: rgba(51,105,163,1);">{{new.0.Title}}</div>
            <p style="width:95%;height:1px;background-color:#ffffff;margin-top:1%;margin-right: 5%;"></p>
        </div>
		<div class="newcontent" style="padding-left:15px;padding-right:15px;">
			{{ new.0.Content | safe  }}	
		<div>

		<div style="text-align:right;color: #669;">
			日期：{{ new.0.AddTime|date:'Y-m-d' }}
		</div>
<!--		<div style="text-align:right;color: #669;"> 
			编辑单位：{{ new.0.Source }}
		</div>
		<div style="text-align:right;color: #669;">
			作者：{{ new.0.Author }}
		</div>
		-->
		
		<div style="float:left;padding-bottom:80px;">
		</div>
		<div style="padding-bottom:48%;padding-top:10px;">
		<div class="backup" style="float:left;">
			<a href="/zhishui/">回到首页</a>
		</div>
<!--		{% if new.0.DvLink %}
		<div class="backup" style="float:right;">
			<a href="http://wx.dalang.gov.cn/wx_show.asp?newsid={{ new.0.NewsId }}">查看视频报道</a>
		</div>
		{% else %}
		{% endif %}
		-->
		<div>
    </div>
	
	<div class="footer" >
	</div>
</div>
</body>
</html>